<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">Resume NG</a>
  <a class="nav-link text-light" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link text-light" routerLink="/cd-demo">Change Detection</a>
  <a class="nav-link text-light" routerLink="/forms/template">Template Form</a>
  <a class="nav-link text-light" routerLink="/forms/reactive">Reactive Form</a>
  <a class="nav-link text-light" routerLink="/state-demo">NGXS Demo</a>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>